@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Custom variables */
  --background: #000000;
  --foreground: #E5E8E8;
  
  /* Custom styles */
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background: var(--background);
  color: var(--foreground);
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  text: var(--foreground);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  min-height: 100vh;
  height: 100%;
  min-width: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
